html, body {
    height: 100%;
}

.custom-checkbox .custom-control-label::before {
    background-color: #d9534f;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #5cb85c;
}

.kiemelt {
    font-weight: bold;
}

.lbl-width-50  { width: 50px;}
.lbl-width-80  { width: 80px;}
.lbl-width-100  { width: 100px;}
.lbl-width-110  { width: 110px;}
.lbl-width-120  { width: 120px;}

.btn-width-50  { width: 50px; }
.btn-width-80  { width: 80px; }
.btn-width-100 { width: 100px; }
.btn-width-120 { width: 120px; }
